<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/agate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body> 
    <div class="header" th:fragment="header">
        <a href="/"><h1 style="color: white">Skyblog</h1></a>
        <div class="header-menu">
            <h5><a href="/about">about</a></h5>
            <h5><a href="#">cursos</a></h5>
            <h5><a href="#">filocodeando</a></h5>
        </div>
    </div>
</body>
</html>    
