.header {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #007053;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

pre { border-radius: 4px }

.header-menu {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}

.header-menu h5 { margin-right: 11px }

.post-card-link:hover {
    text-decoration: none;
}

.post-title {
    color: #00bc8c;
    font-size: 375%;
    width: 100%;
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: 73% auto;
    min-height: 100vh;
}

.blog-container {
    padding: 18px;
    min-height: 90vh;
}

.extras-container {
    height: 98.7%;
    background-color: #303030;
}

footer {
    padding: 6%;

}

.social-buttons a {
    margin-right: 10px;
    text-decoration: underline;
}

.about-container {
    min-height: 60vh;
    width: 100%;
    text-align: center;
    margin-top: 20%;
}
