<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="layouts/header :: head"/>
    <title>Skyblog</title>
</head>
<body>
    <div th:replace="layouts/header :: header" />
    <div class="about-container">
        <p>Crafted with love by Paolinsky </p>
        <article>
            <p>
                Este blog lo cree con la intención de ayudar a las personas
                que como yo, son programadores o quieren serlo.
                </br>
                Aprender a programar puede ser una tarea difícil, cuando
                programar no lo es realmente. 
                </br>
                Espero encuentres algún recurso que pueda serte de utilidad aquí
                UwU
            </p>
        </article> 
    </div>
    <div th:replace="layouts/footer :: footer" />
</body>
</html>
